div {
    width: 300px;
    height: 300px;
    font-size: 36px;
    line-height: 300px;
    text-align: center;
    margin: 10px;
}

.bumlebee {
    background-color: yellow;
}

.bumlebee:hover {
    transform: translate(100px, 100px) scale(1.5);
}

.deception {
    background-color: pink;
    transform: scale(1.5);
    transform: rotate(45deg);
}