/* 
  1. Gunakan Selector CSS yang sudah dipelajari sebelumnya (10 poin)
  2. Gunakan properti-properti font yang sudah dipelajari (10 poin)
  3. Gunakan properti-properti text yang sudah dipelajari (10 poin)
  4. Opsional : menggunakan properti shorthand font (Bonus 20 poin)
  5. Opsional : menggunakan custom font/font dari luar (Bonus 30 poin)
  6. Opsional : membuat tampilan menjadi lebih menarik lagi (Bonus 50 poin)

  Clue : 
  1. Font : Arial
  2. Ukuran font h1 : 42px
  3. Ukuran font h2 : 32px
  4. Ketebalan huruf pada kata 'kegiatan' : 900
  5. Ketebalan huruf pada kata 'saung endah' : 600
  6. Jarak antar baris pada list : 1.5
*/

/* Kerjakan dibawah sini! */
@font-face {
  font-family: 'Anime';
  src: url(Anime.otf);
}

@font-face {
  font-family: 'Meladu';
  src: url(MELADU\ ROSE.otf);
}

body {
  background-image: url(backgroundnihh.jpeg);
  background-size: cover;
}

h1 {
  font-family: 'Anime', Arial, serif;
  font-size: 42px;
  text-align: center;
  color: orange;
}

p {
  font-family: 'Meladu', Arial, serif;
  font-size: 18px;
  text-align: center;
  color: blueviolet;
}

.strong {
  font-style: italic;
  color: orangered;
  font-weight: 900;
}

h2 {
  font-family: 'Meladu', Helvetica, sans-serif;
  font-size: 32px;
  color: blue;
}

.satu {
  color: orange;
  text-decoration: underline;
  text-transform: capitalize;
}

.dua {
  color: yellowgreen;
  text-transform: capitalize;
}

.tiga {
  color: purple;
  font-weight: 600;
  font-style: italic;
}

.empat {
  color: orangered;
  text-transform: capitalize;
}

.lima {
  text-transform: uppercase;
}

.enam {
  color: goldenrod;
  text-decoration: underline;
  text-transform: capitalize;
}

.tujuh {
  color: brown;
  text-transform: capitalize;
}

.delapan {
  color: burlywood;
  text-transform: capitalize;
  text-decoration: line-through;
}

ul li {
  line-height: 1.5;
}