/* 
    Buatlah sebuah Card seperti contoh disamping
    Petunjuk:
    1. Ukuran card 400px x 450px, radius lengkung 25px, warna #f5f5f5, diberi padding 25px
    2. Ukuran gambar 200px x 200px, dibuat lingkaran
    3. Jarak antara gambar dan konten sejauh 100px
    4. Ukuran huruf pada nama 32px, tebal 700
    5. Ukuran huruf pada jabatan 24px, warna #4682A9
    6. Jarak antar baris pada deskripsi 1.5, rata kiri-kanan
    7. Untuk tombol : 
        - Jarak antara tombol dengan paragraf deskripsi sejauh 20px
        - Ukuran font pada tombol 18px, tebal 700
        - Lebar tombol 200px
        - Beri padding 12px (atas-bawah) dan 24px (kiri-kanan);
        - Warna tombol #91C8E4, warna teks pada tombol #f5f5f5
    8. Warna efek hover menggunakan gradien warna #56ccf2 dan #2f80ed
      dengan arah gradient dari atas ke bawah
    9. GUNAKAN PROPERTI POSITION dan Z-INDEX yang sudah dipelajari!
    10. GUNAKAN PSEUDO-CLASS dan PSEUDO ELEMENT yang sudah dipelajari!
    11. GUNAKAN GRADIENT, BOX-SHADOW, TRANSFORM, dan TRANSITION yang sudah dipelajari!
    12. Disarankan untuk tidak menggunakan CSS Framework terlebih dahulu
        seperti Bootstrap CSS, TailwindCSS, dll.
    Nilai untuk latihan ini = 800 poin
    Selamat Mengerjakan, Semoga paham :)
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f4f8;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: inline-block;
  width: 400px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #f5f5f5;
  padding: 25px;
  position: relative;
  overflow: hidden;
  transition: all 200ms ease-out;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.2);
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card .card-layer {
  position: absolute;
  width: 198px;
  height: 198px;
  border-radius: 100%;
  z-index: 1;
  top: 37px;
  left: 102px;
  background-image: linear-gradient(to top, #56ccf2, #2f80ed);
  transition: all 200ms ease-out;
}

.card .card-content {
  z-index: 2;
  position: relative;
}

.card:hover {
  color: #f5f5f5;
  transform: scale(1.015) translateY(-5px);
}

.card:hover .card-layer {
  transform: scale(7);
}

.card .card-image {
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: relative;
}

.card:hover .card-image {
  border: 1px solid #fff;
}

.card-image img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.card .card-details {
  padding: 20px;
}

.card-details .name {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.card-details .title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.card-details .desc {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-details button {
  display: block;
  margin: auto;
  padding: 12px 24px;
  width: 200px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  background-color: #91c8e4;
  color: #f5f5f5;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.card-details button:hover {
  box-shadow: inset 200px 0 0 #fff6f6;
  color: #555555;
}