/* 
    Buatlah tampilan seperti contoh di gambar contoh.png
    menggunakan properti overflow dan display

    Petunjuk:
    1. Ukuran div 300px X 300px
    2. Kasih background, khusus div kedua dan ketiga
       pake background gambar
    3. untuk div kedua, ketika di scroll,
       gambar tidak ikut bergerak
    4. untuk div ketiga, ketika di scroll,
       gambar ikut bergerak
    5. Teksnya rata kiri-kanan supaya rapih
    6. Warna tulisan sesuaikan dengan background,
       jangan sampai nyaru

    Total poin untuk latihan ini : 80 poin

    Selamat mengerjakan, semoga paham :)
*/
@font-face {
   font-family: ChineseDragon;
   src: url(ChineseDragon.ttf);
}
@font-face {
   font-family: Japanwave;
   src: url(Japanwave.ttf);
}

body {
   background-image: url(./img/markusspiskehvSrVecVIunsplash.jpg);
   background-size: cover;
}

.conten2, .conten3, div {
   font-family: 'Japanwave', Arial, sans-serif;
}
div {
   width: 300px;
   height: 300px;
   background-color: chartreuse;
   color: white;
   overflow: auto;
   margin: auto;
   display: inline-block;
   text-align: justify;
   margin: auto;

}

.conten2, .conten3 {
   width: 300px;
   height: 300px;
   background-image: url(./img/livingroom1.jpg);
   color: white;
   overflow: auto;
   margin: auto;
   display: inline-block;
   text-align: justify;

}

.conten3 {
   background-attachment: local;

}