.satu {
    width: 20em;
    height: 20em;
    background-color: #FED4E7;
    margin: auto;
}

.dua {
    width: 10em;
    height: 10em;
    background-color: deeppink;
    margin: auto;
}

.tiga {
    width: 5em;
    height: 5em;
    background-color: darkcyan;
    margin: auto;
}

.empat {
    width: 10em;
    height: 10em;
    background-color: indianred;
    margin: auto;
}

.lima {
    width: 20em;
    height: 20em;
    background-color: limegreen;
    margin: auto;
}